@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  height: 100vh;
  margin: 0;
}

#calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  background: #e8e8e8;
  box-shadow: 9px 9px 31px #bebebe, -9px -9px 31px #ffffff;
  height: 580px;
  width: 287px;
  padding: 36px;
}

#display {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-radius: 0.5em;
  box-shadow: 5px 5px 26px #bebebe, -5px -5px 26px #ffffff;
  width: 90%;
  height: 90px;
  padding: 16px;
  margin: 46px 0 26px 0;
  color: #090909;
  overflow: hidden;
}

#history {
  margin: 0;
  font-size: 26px;
}

#result {
  margin: 0;
  font-size: 42px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
}

.button {
  font-family: 'Montserrat', sans-serif;
  color: #090909;
  font-size: 18px;
  cursor: pointer;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-radius: 0.5em;
  transition: all 0.2s;
  transform: scale(1);
  box-shadow: 5px 5px 24px #bebebe, -5px -5px 24px #ffffff;
}

.button:hover {
  border: 1px solid white;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

button[data-key='0'] {
  grid-row: 5;
  grid-column: 1/3;
}

button[data-key='='] {
  grid-column: 4;
  grid-row: 4/6;
}

.square {
  aspect-ratio: 1;
}

footer {
  position: absolute;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  justify-self: flex-end;
  margin: 0 0 10px 0;
  color: #090909;
}

footer a {
  font-size: 22px;
}

.fa-github {
  color: #090909;
  padding: 0 0 0 4px;
}
