@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #efefef;
  height: 100vh;
  margin: 0;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  height: 550px;
  width: 318px;
  padding: 46px 32px 38px 32px;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 15px #cecece, inset -5px -5px 15px #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 0.9em;
  width: 90%;
  height: 100%;
  padding: 16px;
  margin: 0 0 28px 0;
  color: #090909;
  overflow: hidden;
}

#operations-display {
  margin: 0;
  font-size: 21px;
}

#input-numbers-display {
  margin: 0;
  font-size: 42px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #090909;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-radius: 0.9em;
  transition: all 0.2s;
  transform: scale(1);
  background: #e8e8e8;
  box-shadow: 6px 6px 14px #c7c7c7, -6px -6px 14px #f9f9f9;
}

.button:hover {
  border: 1px solid white;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 4px 4px 14px #c7c7c7, -4px -4px 14px #f9f9f9;
}

button[data-key='0'] {
  grid-row: 5;
  grid-column: 1/3;
}

button[data-key='='] {
  grid-column: 4;
  grid-row: 4/6;
}

.square {
  aspect-ratio: 1;
}

footer {
  position: absolute;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  justify-self: flex-end;
  margin: 0 0 16px 0;
  color: #090909;
}

footer a {
  color: #090909;
}

footer i {
  font-size: 18px;
}

.fa-github {
  color: #090909;
  padding: 0 0 0 2px;
}
